<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--
		DI(Dependence Injection) : 의존성 주입
		TestVO t1 = new TestVO();
		t1.setMsg("DI 연습입니다.");
	--> 
	<bean id="t1" class="ex1.vo.TestVO">
		<property name="msg">
			<value>DI 연습입니다.</value>
		</property>
	</bean>
	
	<bean id="t2" class="ex1.vo.Test2VO">
		<property name="str">
			<value>안녕하세요.</value>
		</property>
		<property name="value" value="1000"/>
	</bean>
	  

</beans>